html{
    scroll-behavior: smooth;    
}
:root{
    --white: #fff;
    --blue: rgb(52, 66, 255);
    --darkblue: rgb(0, 29, 109);
    --orange: rgb(255, 209, 6);
}
body{
    font-family: 'Poppins', sans-serif;
}
/* main-image1.jpg */
#main{
    height: 70vh;
    background-image: url('../assets/u4.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    transition: all .2s ease-in;
}
.main-text{
    margin-top: 5%;
}
.main-text p{
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 3px;
    color: var(--darkblue);
}
h1{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--darkblue);
    margin-top: 5%;
}

/* NAVBAR */
.navbar{
    background-color: var(--white);

}
.about-btn {
    font-weight: 500;
    color: var(--darkblue);
}
.g-s{
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--darkblue) !important;
    border: 2px solid var(--darkblue);
    transition: all .4s ease;
    outline: none;
}
.g-s:hover{
    background: var(--darkblue);   
    color: var(--white) !important;
}

/* FORMS */
/* Register */
.reg{
    margin-top: 2rem;
    border-radius: 5%;
    background: var(--darkblue);
    color: #fff;
    /* height: 100vh; */
}
.reg h1{
    color: var(--white);
}
form > input{
    background-color: rgba(0, 0, 0, .3)
}
/* .user_card, .sign-up{
    background-color: rgba(3, 1, 29, 0.699);
    padding: 1% 0.5%;
} */
.t-sign-up {
    color: #fff;
}
.t-sign-up a{
    font-weight: bold;
    color: rgb(14, 15, 15)
}


/* TRACKER */
#todo h2{
    display: none;
}
#todoInput {
    display: none;
}
ul.goals label, #goals span{
    font-weight: 700;
    background: orange;
    padding: 20px;
    margin: 5px;
    display: list-item;
    list-style-type: none;
    cursor: pointer;
    text-transform: uppercase;
    overflow: initial;
    text-overflow: initial;
}
#progress{
    color: rgb(141, 13, 13);
    font-family: cursive;
    font-size: 3em;
}
label button{
    float: right;
    background: red;
    border: none;
    color: white;
}


/* ABOUT */
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/*  Media Queries*/
@media screen and (max-width-320px)
    display-4{ 
        font-size: 70%;
    }
}
